@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;500&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

/* CONTEUDO INICIAL - IMAGEM DE FUNDO */

.container {
    width: 100%;
    height: 80vh;    
    background-size: cover;
    background-position: 50%;
}

.imagem__fundo {
    background-image: linear-gradient(to top, rgba(12, 11, 11, 0.144), rgba(24, 22, 22, 0.1)),
    url(../img/img4.jpeg);
}

.container__conteudo {
    color: #fff;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo__paragrafo {
    font-size: 23px;
    line-height: 40px;
}

/* HEADER */

body ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header {
    background-color: rgb(92, 45, 82);
    width: 100%;
    height: 60px;     
}

.menu {
    display: flex;
    margin: 0px 0px 0 120px;
}

/* ITENS MENU HEADER */

.itensMenu{
    display: flex;
}

.item1{
    font-size: 17px;
    display: flex;
    align-items: center;
}

.item2{
    margin-left: 25px;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.item3{
    margin-left: 25px;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.item_header {
    color: #fff;
    text-decoration: none;
    padding: 15px;
}

.item_header:hover {
    color: black;
}


/* CONTEUDO PRINCIPAL */

.container-sobre {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* LEFT */

.left {
    width: 10vw;
    height: 100%;
}

/* RIGHT */

.right {
    width: 10vw;
    height: 100%;
}

/* MAIN */

.main {
    width: 80vw;
    height: 100%;
    color: black;
}

.content {
    margin: 35px;
    margin-top: 20px;
}

.img_tecSensores {
    width: 500px;
    height: 310px;
}

.img_tecRobotica {
    width: 500px;
    height: 310px;
}

/* CONTATO */

.formCadastro1{
    background-color: #878787;
    border-radius: 10px;
}

.h1Cadastro{
    text-align: center;
    padding-top: 17px;
    color: white;
}

.formCadastro{
    text-align: center;
    box-sizing: border-box;
}

.Cadasto{
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin:10px;
    opacity: 0.9;
    width: 30%;
}

.CadastoSubmit{
    padding: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin:10px;
    opacity: 0.9;
    width: 25%;
}

.CadastoSubmit:hover{
    color: #dab30c;
}

.Email {
  width: 62.5%;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background-color:white;
  margin:10px;
  opacity: 0.9;
  width: 64.4%;
}

/* FINAL - FOOTER */

.rodape {
    width: 100%;
    height: 8vh;    
    background-color: rgb(92, 45, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: #fff;
}

.contato_rodape {
    background-color: rgb(92, 45, 82);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: #fff;
}

.rodape2 {
    width: 100%;
    height: 4vh;    
    background-color: #878787;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: #C4C4C4;
}


/* RESPONSIVIDADE */

@media (max-width: 1200px) {
    .right {
        display: none;
    }

    .left {
        display: none;
    }

    .main {
        width: 100vw;
    }

    .container {
        width: 100vw;
    }

    /* .container__conteudo {
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .img_tecSensores {
        width: 65vw;
        height: 40vw;
    }

    .img_tecRobotica {
        width: 65vw;
        height: 40vw;
    }

    .formCadastro {
        display: flex;
        flex-direction: column;
    }
    
    .Cadasto {
        width: 70%;
    }    

    .Email {
        width: 70%;
    }

    .CadastoSubmit {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .contato_rodape {
        height: 30vh;
        padding: 2px;
    }
}

@media (max-width: 1200px) {
    
    header {
        display: none;
    }
    
    /* .item_header {
        font-size: 10px;
    } 670px max-width

    .item1 {
        margin-left: -100px;
    } */
}